@tailwind base;
@tailwind components;
@tailwind utilities;

/* General style for the scroll bar */
::-webkit-scrollbar {
    width: 8px; /* Vertical scroll bar width */
    height: 12px; /* Horizontal scroll bar height */
}

/* Scroll bar background */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Scrollbar */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Scroll bar when hovered */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
